[submodule "code/external/dipha"]
	path = code/external/dipha
	url = https://github.com/DIPHA/dipha.git
[submodule "code/external/PersistenceImages"]
	path = code/external/PersistenceImages
	url = https://github.com/w-guo/PersistenceImages.git
[submodule "code/external/iso2mesh"]
	path = code/external/iso2mesh
	url = https://github.com/fangq/iso2mesh
[submodule "code/external/libsvm"]
	path = code/external/libsvm
	url = https://github.com/cjlin1/libsvm.git
